<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561032792118-edgrmu740dh9504evp2st85civin1q06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561032792118-edgrmu740dh9504evp2st85civin1q06</string>
	<key>API_KEY</key>
	<string>AIzaSyDtbXG1iq634lGmrZoc8SOMxnRcIvX5sFo</string>
	<key>GCM_SENDER_ID</key>
	<string>561032792118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westerracu.mobile.uat</string>
	<key>PROJECT_ID</key>
	<string>westerracu-ebb72</string>
	<key>STORAGE_BUCKET</key>
	<string>westerracu-ebb72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561032792118:ios:a402ad9d79e21b31ba7097</string>
</dict>
</plist>